@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-family: var(--font-instrument-serif);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-instrument-serif);
  --font-mono: var(--font-instrument-serif);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-size: 20px; /* Larger base font size */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-instrument-serif), serif;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
